<a href="https://colab.research.google.com/github/nikotamajapan/Python_excel_pandas/blob/youtube/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
import pandas as pd
from glob import glob
import glob
import re
import os

In [63]:
file = glob.glob('/content/*.xlsx')
ff=file[0]
_ff=pd.read_excel(ff)

In [ ]:
columns = _ff.iloc[10,[1,2,4,10,11,14]]
columns

In [ ]:
ff=_ff.iloc[11:23 ,[1,2,4,10,11,14]]
ff

In [ ]:
ff.columns = columns
ff

In [ ]:
ff['company']=_ff.iloc[2,0]
ff

In [ ]:
ff['com code']=_ff.iloc[3,4]
ff['inv no']=_ff.iloc[2,12]
ff['date']=_ff.iloc[3,12]
ff['issue']=_ff.iloc[4,12]
ff['issue code']=_ff.iloc[4,13]

ff

In [95]:
def extract(ff):
  file = glob.glob('/content/*.xlsx')
  ff=file[0]
  _ff=pd.read_excel(ff)
  columns = _ff.iloc[10,[1,2,4,10,11,14]]
  ff=_ff.iloc[11:23 ,[1,2,4,10,11,14]]
  ff.columns = columns
  ff['company']=_ff.iloc[2,0]
  ff['com code']=_ff.iloc[3,4]
  ff['inv no']=_ff.iloc[2,12]
  ff['date']=_ff.iloc[3,12]
  ff['issue']=_ff.iloc[4,12]
  ff['issue code']=_ff.iloc[4,13]
  return ff

In [97]:
extract(ff)

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,company,com code,inv no,date,issue,issue code
11,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
12,2020-10-05 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
13,2020-10-06 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
14,2020-10-07 00:00:00,GSL0002,ハイオク,45,160,7200,TTT Inc.,6,012,2020/10/31,岸辺,2.0
15,2020-10-08 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
16,2020-10-09 00:00:00,CMT0002,洗車 B,1,1500,1500,TTT Inc.,6,012,2020/10/31,岸辺,2.0
17,2020-10-10 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
18,2020-10-11 00:00:00,GSL0002,ハイオク,40,160,6400,TTT Inc.,6,012,2020/10/31,岸辺,2.0
19,2020-10-12 00:00:00,GSL0002,ハイオク,30,160,4800,TTT Inc.,6,012,2020/10/31,岸辺,2.0
20,2020-10-13 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
21,2020-10-14 00:00:00,GSL0003,軽油,50,100,5000,TTT Inc.,6,012,2020/10/31,岸辺,2.0
22,NaN,NaN,NaN,NaN,NaN,0,TTT Inc.,6,012,2020/10/31,岸辺,2.0

In [107]:
xxx = pd.DataFrame([[1,2,3],[4,5,6]])
yyy = pd.DataFrame([[-1,22,-3],[24,-5,26]])
yyy

    0   1   2
0  -1  22  -3
1  24  -5  26

In [115]:
pd.concat([xxx,yyy], axis=1 )

   0  1  2   0   1   2
0  1  2  3  -1  22  -3
1  4  5  6  24  -5  26

In [125]:
df = pd.DataFrame()
for i in file:
  _df=extract(i)
  print(i)
  df = pd.concat([df,_df])

/content/請求書_10月_TTTInc.xlsx
/content/請求書_12月_株式会社ABC.xlsx
/content/請求書_11月_XYZ株式会社.xlsx
/content/all_data.xlsx

In [129]:
df.head(1)

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,company,com code,inv no,date,issue,issue code
11,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0

In [130]:
 df.dropna().head(1)

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,company,com code,inv no,date,issue,issue code
11,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0

In [137]:
df=df.iloc[:, [6,7,8,9,10,11,0,1,2,3,4,5]]
df.head(1)

10,日付,商品コード,品名,数量[L] or [-],単価[¥/L] or [¥],金額,company,com code,inv no,date,issue,issue code
11,2020-10-04 00:00:00,GSL0001,レギュラー,20,120,2400,TTT Inc.,6,012,2020/10/31,岸辺,2.0

In [141]:
df.to_excel('/content/all_dataa.xlsx', index=False)

In [ ]:
/content/請求書_12月_株式会社ABC.xlsx